.example-card {
  max-width: 300px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.buttons {
  text-align: right;
}
.buttons .icon {
  color: gray;
  margin-left: 5px;
}
.buttons .icon mat-icon {
  font-size: 20px;
}
