<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <a href="#">Some link</a>
        </div>
        <div class="col-xs-offset-6">
          <button mat-icon-button>
            <mat-icon aria-label="favorite">favorite</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon aria-label="share">share</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon aria-label="delete">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </mat-card-actions>
</mat-card>
